._3x7KugSl_x6m button {
  width: 100%;
  font-size: 16px;
  outline: none;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 2px 4px 0 #7d6d6d;
}

._3x7KugSl_x6m button:hover {
  background: #7c7d7d7a;
  cursor: pointer;
}

.y0-Y3qtHRiVu {
  border: 1px solid #fff;
  background: #f1f1f1;
  padding: 15px 10px;
  box-shadow: 0px 2px 4px 0 #7d6d6d;
  margin: 10px auto;
  border-radius: 2px;
  position: relative;
}

._3x7KugSl_x6m button,
._3x7KugSl_x6m input {
  display: block;
  margin: 0 auto;
  padding: 10px;
}

._3x7KugSl_x6m input {
  width: 60%;
}

._3x7KugSl_x6m button {
  font-size: 14px;
  margin: 5px auto 0;
}

._2wp-QbFthwEg {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

._2wp-QbFthwEg,
._3x7KugSl_x6m ._1-XT26Kr-a51 {
  display: inline-block;
  width: auto;
}

.UT8aaWPsJg6b {
  text-align: center;
  margin: 10px auto;
}

._3x7KugSl_x6m button {
  width: 30%;
  clear: both;
}

._3N7-ZCzWUW1Y,
._2b75vQKFaXpf {
  font-size: 16px;
}

._2b75vQKFaXpf {
  font-weight: bold;
}

._3eC2EGLVSoUN {
  font-size: 10px;
  color: #989898;
}

._2cs6O6v_JOjD {
  position: absolute;
  right: 0px;
  top: -2px;
}

._2cs6O6v_JOjD button {
  padding: 1px;
  font-size: 10px;
  border: 0;
  border-radius: 2px;
  background: #f1f1f1;
}

._2cs6O6v_JOjD button:hover {
  cursor: pointer;
  background: #7d6d6d;
  color: #fff;
  border: 0;
}

.gy5G4YZZJ44H {
  margin-right: 3px;
}

._21oc8cgCpxdu {
  display: block;
  float: left;
  max-width: 100%;
  width: 65px;
  margin: 5px 10px 0 0;
}
.WKfPjb1bXBLj {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 20px;
  background: #ddd;
  width: 80%;
  margin: 0 auto;
  margin: 20px auto;
  border-radius: 5px;
}

._2mXmgRHYc2ZM {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  width: 60%;
  -moz-box-flex: 1;
}

._1-8U41vDPui4,
._20JENAjv1Ah5 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 20%;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

._1-8U41vDPui4 {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

._1-8U41vDPui4 h2 {
  margin: 5px auto 10px;
}

._1-8U41vDPui4 button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 2px 4px 0 #7d6d6d;
}

._1-8U41vDPui4 li {
  margin: 0 auto 10px;
}

._1-8U41vDPui4 li:last-child {
  margin: 0 auto;
}

._1-8U41vDPui4 button:hover {
  background: #7c7d7d7a;
  cursor: pointer;
}

._20JENAjv1Ah5 {
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}

._2mXmgRHYc2ZM,
._20JENAjv1Ah5,
._1-8U41vDPui4 {
  padding: 1em;
}
*,
html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

body {
  background: #eee;
}

.apEQwAIhg4np {
  max-width: 90%;
  margin: 0 auto;
}

._3BDT9N0OKEH9 {
  text-align: center;
  text-transform: uppercase;
}
._3x7KugSl_x6m button {
  width: 100%;
  font-size: 16px;
  outline: none;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 2px 4px 0 #7d6d6d;
}

._3x7KugSl_x6m button:hover {
  background: #7c7d7d7a;
  cursor: pointer;
}

.y0-Y3qtHRiVu {
  border: 1px solid #fff;
  background: #f1f1f1;
  padding: 15px 10px;
  box-shadow: 0px 2px 4px 0 #7d6d6d;
  margin: 10px auto;
  border-radius: 2px;
  position: relative;
}

._3x7KugSl_x6m button,
._3x7KugSl_x6m input {
  display: block;
  margin: 0 auto;
  padding: 10px;
}

._3x7KugSl_x6m input {
  width: 60%;
}

._3x7KugSl_x6m button {
  font-size: 14px;
  margin: 5px auto 0;
}

._2wp-QbFthwEg {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

._2wp-QbFthwEg,
._3x7KugSl_x6m ._1-XT26Kr-a51 {
  display: inline-block;
  width: auto;
}

.UT8aaWPsJg6b {
  text-align: center;
  margin: 10px auto;
}

._3x7KugSl_x6m button {
  width: 30%;
  clear: both;
}

._3N7-ZCzWUW1Y,
._2b75vQKFaXpf {
  font-size: 16px;
}

._2b75vQKFaXpf {
  font-weight: bold;
}

._3eC2EGLVSoUN {
  font-size: 10px;
  color: #989898;
}

._2cs6O6v_JOjD {
  position: absolute;
  right: 0px;
  top: -2px;
}

._2cs6O6v_JOjD button {
  padding: 1px;
  font-size: 10px;
  border: 0;
  border-radius: 2px;
  background: #f1f1f1;
}

._2cs6O6v_JOjD button:hover {
  cursor: pointer;
  background: #7d6d6d;
  color: #fff;
  border: 0;
}

.gy5G4YZZJ44H {
  margin-right: 3px;
}

._21oc8cgCpxdu {
  display: block;
  float: left;
  max-width: 100%;
  width: 65px;
  margin: 5px 10px 0 0;
}
._3Kjcf6Qe0OXH button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 2px 4px 0 #7d6d6d;
}

._3Kjcf6Qe0OXH button:hover {
  background: #7c7d7d7a;
  cursor: pointer;
}

._3Kjcf6Qe0OXH {
  width: 30%;
  margin: 0 auto;
}

._3Kjcf6Qe0OXH input,
._3Kjcf6Qe0OXH button,
._3Kjcf6Qe0OXH textarea {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

._3Kjcf6Qe0OXH button {
  font-size: 14px;
  margin: 5px auto 0;
}

._36uTnLMzSk3j {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

._36uTnLMzSk3j,
._3Kjcf6Qe0OXH ._31q7RXzwW9WI {
  display: inline-block;
  width: auto;
}

._2MuobDhUc88A {
}
